{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}
<div id="content-main">
  {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>Tips and Tricks for <strong>{% firstof user.get_short_name user.get_username %}</strong></h2>
        <dl>
            <dt>Mentors</dt>
            <dd>- Click on the tab <strong>Users</strong> to see the full list of mentors that have an active account: their location and the programming languages and frameworks they are specialised in</dd>
            <br></br>
            <dt>Events</dt>
            <dd>- The <strong>EVENT</strong> section can be a bit overwhelming at the beginning but most things are already created for you, you just need to reassign them as you create a new event. </dd>
            <dd>- Start by checking that all the roles you need already exist in <strong>Roles</strong>. Do the same for <strong>Modules</strong>. </dd>
            <dd>- At this point click on <strong>Events</strong> and start filling up all the required fiedls. At the bottom of the event section add all the modules that belong to the event specifing the date and time.</dd>
            <dd>- Lastly, click on <strong>Event module roles</strong> and start adding all the needed roles for this event, assigning them to the specific <strong> Event modules</strong> previously created. From this section you'll be able to filter the roles by "empty", by "give back" program and above all by "event" itself.</dd>

        </dl>
        {% comment %} <h2>{% translate 'Recent actions' %}</h2>
        <h3>{% translate 'My actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% translate 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type.name }}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% translate 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %} {% endcomment %}
    </div>
</div>
{% endblock %}
